*{
    margin: 0px;
    padding: 0px;
    }
body{
    background-image: url(66.jpg) ;
    background-size: cover;
    opacity: 89%;
}
    .container{
    position: absolute;
    top:25%;
    left:37%;
    }
    .container h1{
    color:rgb(0, 0, 0);
    font-size: 35px;
    margin-bottom: 10px;
    padding: 13px 0px;
    }
    .box{
    width:100%;
    margin-bottom: 12px;
    }
    .box input{
    font-size: 15px;
    width:78%;
    margin: 2px 9px;
    border-radius: 4px;
    outline: none;
    padding:8px 10px;
    
    }
    .btn{
    border: 1px solid rgb(0, 0, 0);
    font-size: 23px;
    margin-left: 35%;
    margin-bottom: 5%;
    border-radius:4px; 
    outline:none;
    width:28%;
    cursor: pointer;
    padding:5px 15px;
    background:none;
    }
    
    .box i{
    text-align: center;
    font-size: 17px;
    
    }
    .btn:hover{
    color:black;
    background-color: rgb(255, 145, 0);
    }